!!!
%html
  %head
    %title Last.fm music mapper
    %link{:href => '/ext/style.css', :rel => 'stylesheet',
          :type => 'text/css'}
  %body
    %ol#artists
      - @user_artists.sort_by {|a| -a[:playcount]}.each do |artist|
        %li{:class => country_classes(artist[:countries])}
          %h3
            %a{:href => artist[:url]}
              %img{:src => artist[:image], :width => 64}
            %a{:href => artist[:url]}
              = h(artist[:name])
          %p
            Plays:
            %span.playcount
              = h(artist[:playcount])
          %p
            From:
            - if artist[:countries].length > 0
              = sentence_join(country_names(artist[:countries]))
            - else
              = succeed '?' do
                %span.country-name.error nowhere
              = surround '(', ')' do
                %a{:href => "#{artist[:url]}/+tags",
                   :title => "Tags for #{artist[:name]}"} Add a tag!
    %div#byline
      %p
        By
        %a{:href => 'http://sean.mcgivern.me.uk/'} Sean McGivern
